<div class="row">
  <ng-container *ngIf="(profile$ | async) as profile">
    <div class="col-12">
      <div>
        <h2>
          {{ profile.fullName }}
        </h2>
        <hr>
      </div>

      <ng-container *ngIf="(profile.activities | keyvalue)?.length">
        <!-- for each -->
        <ng-container *ngFor="let record of profile.activities | keyvalue: keyDescOrder">
          <h4>
            {{ record.key | date }}
          </h4>

          <ng-container *ngFor="let activity of record.value">
            <ng-container *ngIf="activity.subjectType === 'thread'">
              <app-created-thread [name]="profile.fullName" [activity]="activity"></app-created-thread>
            </ng-container>
            <ng-container *ngIf="activity.subjectType === 'reply'">
              <app-created-reply [name]="profile.fullName" [activity]="activity"></app-created-reply>
            </ng-container>
            <ng-container *ngIf="activity.subjectType === 'favorite'">
              <app-created-favorite [name]="profile.fullName" [activity]="activity"></app-created-favorite>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
