<div>
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a [routerLink]="['./']" class="brand-logo">Forum</a>
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" [routerLink]="['threads']">All Threads</a>
        <ng-container [templateStore]="{ check: (isLoggedIn$ | async) }" #isLoggedIn="templateStore"></ng-container>
          <ng-container *ngIf="!isLoggedIn.check">
            <a class="p-2 text-dark" [routerLink]="['auth', 'login']">Login</a>
            <a class="p-2 text-dark" [routerLink]="['auth', 'register']">Register</a>
          </ng-container>

          <ng-container *ngIf="isLoggedIn.check">
            <ng-container *ngIf="authUser$ | async as user">
              <span class="p-2 text-dark dropdown-toggle drop-down" mat-button [matMenuTriggerFor]="dropdown">
                {{ user.userObject.fullName }}
              </span>
            </ng-container>
            <mat-menu #dropdown="matMenu">
              <span mat-menu-item>Item 1</span>
              <span mat-menu-item (click)="logout()">LogOut</span>
            </mat-menu>
          </ng-container>
      </nav>
    </div>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
