<div>
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a [routerLink]="['./']" class="brand-logo">Forum</a>
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <ng-container *ngIf="(data$ | async) as data">
          <ng-container>
            <span class="p-2 text-dark dropdown-toggle drop-down" mat-button [matMenuTriggerFor]="browseDropdown">
              Browse
            </span>
            <mat-menu #browseDropdown="matMenu">
              <a [routerLink]="['threads']" mat-menu-item>All Threads</a>
              <ng-container *ngIf="data.isLoggedIn">
                <a [routerLink]="['threads']" [queryParams]="{by: data.authUser.userObject.fullName }" mat-menu-item>My Threads</a>
              </ng-container>
              <a [routerLink]="['threads']" [queryParams]="{popular: 1 }" mat-menu-item>Popular Threads</a>
            </mat-menu>
          </ng-container>

          <ng-container *ngIf="data.channels">
            <span class="p-2 text-dark dropdown-toggle drop-down" mat-button [matMenuTriggerFor]="channelDropdown">
              Channels
            </span>
            <mat-menu #channelDropdown="matMenu">
              <ng-container *ngFor="let channel of data.channels">
                <a [routerLink]="['/threads', channel.slug]" mat-menu-item>{{ channel.name }}</a>
              </ng-container>
            </mat-menu>
          </ng-container>


          <ng-container *ngIf="!data.isLoggedIn">
            <a class="p-2 text-dark" [routerLink]="['auth', 'login']">Login</a>
            <a class="p-2 text-dark" [routerLink]="['auth', 'register']">Register</a>
          </ng-container>

          <ng-container *ngIf="data.isLoggedIn">
            <span class="p-2 text-dark dropdown-toggle drop-down" mat-button [matMenuTriggerFor]="profileDropdown">
              {{ data.authUser.userObject.fullName }}
            </span>
            <mat-menu #profileDropdown="matMenu">
              <a [routerLink]="['/threads', 'create']" mat-menu-item>New Thread</a>
              <a [routerLink]="['/profile', data.authUser.userObject.fullName]" mat-menu-item>My Profile</a>
              <span mat-menu-item (click)="logout()">LogOut</span>
            </mat-menu>
          </ng-container>
        </ng-container>
      </nav>
    </div>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
