<div class="row">
  <ng-container *ngIf="(data$ | async) as data">
    <div class="col-12 col-md-8">

      <div class="blog-post">
        <h2 class="blog-post-title">{{ data.thread.title }}</h2>
        <div class="flex-inline">
          <p class="blog-post-meta">{{ data.thread.createdAt | amDateFormat:'LL' }} by
            <a [routerLink]="['/profile', data.thread.creator.fullName]">{{ data.thread.creator.fullName }}</a>
          </p>
          <ng-container *ngIf="data.isLoggedIn">
            <ng-container *ngIf="data.authUser.id === data.thread.creator.id">
              <div>
                <button mat-icon-button [matMenuTriggerFor]="moreOptions" aria-label="Delete thread">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #moreOptions="matMenu" yPosition="below">
                  <button mat-menu-item (click)="deleteThread(data.thread.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <!-- <button mat-menu-item disabled>
                                        <mat-icon>voicemail</mat-icon>
                                        <span>Check voice mail</span>
                                      </button>
                                      <button mat-menu-item>
                                        <mat-icon>notifications_off</mat-icon>
                                        <span>Disable alerts</span>
                                      </button> -->
                </mat-menu>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <hr>
        <p>{{ data.thread.body }}</p>
      </div>

      <!--Comments-->
      <h5>{{ data.thread.replies.length | pluralize : 'comment' }}</h5>

      <ng-container *ngIf="data.thread.replies.length">
          <app-replies
            [replies]="data.thread.replies"
            [isLogin]="data.isLoggedIn"
            [userId]="data.authUser?.id"
            [threadId]="data.thread.id"
            ></app-replies>
      </ng-container>

      <p *ngIf="!data.isLoggedIn" class="text-center">
        Please
        <span class="btn-link" (click)="signIn()">sign in</span> to participate in this discussion.
      </p>
    </div>

    <div class="col-12 col-md-4">
      <div class="card mb-3 wow fadeIn">
        <div class="card-body">
          <p class="blog-post-meta">
            This thread was published
            {{ data.thread.createdAt | amTimeAgo }} by <a [routerLink]="['/profile', data.thread.creator.fullName]">{{ data.thread.creator.fullName }}</a>, and
            currently has {{ data.thread.replies.length | pluralize : 'comment' }}.
          </p>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="errorMessage$ | async as errorMessage">
    {{ errorMessage }}
  </div>
</div>
